<?xml version="1.0" ?>
<robot name="OMNIFEATTER" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ********************************************************  -->
  <!-- ****************** ROBOT CONSTANTS *********************  -->
  <!-- ********************************************************  -->

  <!-- Define the size of the robot's main chassis in meters -->
  <xacro:property name="BASE_LENGHT" value="0.4"/> <!-- m-->
  <xacro:property name="BASE_HEIGHT" value="0.1"/> <!-- m-->
  <xacro:property name="BASE_WIDTH" value="0.2"/> <!-- m-->

  <!-- Size of mechanum wheels in meters-->
  <xacro:property name="MECANUM_WHEEL_DIAMETER" value="0.10"/> <!-- m-->
  <xacro:property name="MECANUM_WHEEL_WIDTH" value="0.05"/> <!-- m-->

  <!-- Limits of Mecanum Wheel joints-->
  <xacro:property name="MECANUM_WHEEL_MAX_JOINT_VEL" value="5.0"/> <!-- rad/s-->
  <xacro:property name="MECANUM_WHEEL_MAX_EFFORT" value="30"/>

  <!-- *********************************************************  -->
  <!-- ********** ROBOT CONSTANTS (NO NEED TO CHANGE) **********  -->
  <!-- *********************************************************  -->

  <!-- Placement of Mecanum Wheel wheels-->
  <xacro:property name="BACK_WHEEL"   value="-1"/>
  <xacro:property name="FRONT_WHEEL"  value="1"/>
  <xacro:property name="LEFT_WHEEL"   value="1"/>
  <xacro:property name="RIGHT_WHEEL"  value="-1"/>

  <!-- ********************************************************  -->
  <!-- ****************** MACROS ******************************  -->
  <!-- ********************************************************  -->

  <!-- ****************** MECANUM WHEELS *******************************  -->

  <xacro:include filename="$(find basic_mobile_robot)/models/wheels_urdf/mecanum_wheels_macro.urdf" />
  
  <!-- ********************************************************  -->
  <!-- ****************** Assembly ****************************  -->
  <!-- ********************************************************  -->

  <!-- ****************** BASE LINK *******************************  -->
  <link name="BASE_LINK">
    <visual>
      <geometry>
        <box size="${BASE_LENGHT} ${BASE_WIDTH} ${BASE_HEIGHT}"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="${BASE_LENGHT} ${BASE_WIDTH} ${BASE_HEIGHT}"/>
      </geometry>
    </collision>
  </link>

  <!-- ****************** LEFT FRONT WHEEL *******************************  -->
  
  <xacro:Mecanum_Wheel
  PREFIX="L_F_WHEEL"
  WIDTH="${MECANUM_WHEEL_WIDTH}"
  DIAMETER="${MECANUM_WHEEL_DIAMETER}"
  MECANUM_WHEEL_MAX_JOINT_VEL="${MECANUM_WHEEL_MAX_JOINT_VEL}"
  MECANUM_WHEEL_MAX_EFFORT="${MECANUM_WHEEL_MAX_EFFORT}"
  FR_BA="${FRONT_WHEEL}"
  LE_RI="${LEFT_WHEEL}"
  BASE_LENGHT="${BASE_LENGHT}"
  BASE_WIDTH="${BASE_WIDTH}"
  BASE_HEIGHT="${BASE_HEIGHT}"
  MECANUM_WHEEL_WIDTH="${MECANUM_WHEEL_WIDTH}"
  BASE_LINK="BASE_LINK"/>

  <!-- ****************** RIGHT FRONT WHEEL *******************************  -->

  <xacro:Mecanum_Wheel
  PREFIX="R_F_WHEEL"
  WIDTH="${MECANUM_WHEEL_WIDTH}"
  DIAMETER="${MECANUM_WHEEL_DIAMETER}"
  MECANUM_WHEEL_MAX_JOINT_VEL="${MECANUM_WHEEL_MAX_JOINT_VEL}"
  MECANUM_WHEEL_MAX_EFFORT="${MECANUM_WHEEL_MAX_EFFORT}"
  FR_BA="${FRONT_WHEEL}"
  LE_RI="${RIGHT_WHEEL}"
  BASE_LENGHT="${BASE_LENGHT}"
  BASE_WIDTH="${BASE_WIDTH}"
  BASE_HEIGHT="${BASE_HEIGHT}"
  MECANUM_WHEEL_WIDTH="${MECANUM_WHEEL_WIDTH}"
  BASE_LINK="BASE_LINK"/>

  <!-- ****************** LEFT BACK WHEEL *******************************  -->

  <xacro:Mecanum_Wheel
  PREFIX="L_B_WHEEL"
  WIDTH="${MECANUM_WHEEL_WIDTH}"
  DIAMETER="${MECANUM_WHEEL_DIAMETER}"
  MECANUM_WHEEL_MAX_JOINT_VEL="${MECANUM_WHEEL_MAX_JOINT_VEL}"
  MECANUM_WHEEL_MAX_EFFORT="${MECANUM_WHEEL_MAX_EFFORT}"
  FR_BA="${BACK_WHEEL}"
  LE_RI="${LEFT_WHEEL}"
  BASE_LENGHT="${BASE_LENGHT}"
  BASE_WIDTH="${BASE_WIDTH}"
  BASE_HEIGHT="${BASE_HEIGHT}"
  MECANUM_WHEEL_WIDTH="${MECANUM_WHEEL_WIDTH}"
  BASE_LINK="BASE_LINK"/>

  <!-- ****************** RIGHT BACK WHEEL *******************************  -->

  
  <xacro:Mecanum_Wheel
  PREFIX="R_B_WHEEL"
  WIDTH="${MECANUM_WHEEL_WIDTH}"
  DIAMETER="${MECANUM_WHEEL_DIAMETER}"
  MECANUM_WHEEL_MAX_JOINT_VEL="${MECANUM_WHEEL_MAX_JOINT_VEL}"
  MECANUM_WHEEL_MAX_EFFORT="${MECANUM_WHEEL_MAX_EFFORT}"
  FR_BA="${BACK_WHEEL}"
  LE_RI="${RIGHT_WHEEL}"
  BASE_LENGHT="${BASE_LENGHT}"
  BASE_WIDTH="${BASE_WIDTH}"
  BASE_HEIGHT="${BASE_HEIGHT}"
  MECANUM_WHEEL_WIDTH="${MECANUM_WHEEL_WIDTH}"
  BASE_LINK="BASE_LINK"/>

</robot>