<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--
    The gazebo simulation is using the "Planar Move Plugin" as we want to simulate the
    movements of a omni wheel robot, and not e.g. af differential drive robot
    usinghttp://gazebosim.org/tutorials?tut=ros_gzplugins
  -->

  <xacro:macro name="omni_drive_controller" params="">
    <gazebo>
      <plugin name="omni_drive_controller" filename="libgazebo_ros_planar_move.so">
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <odometryRate>20.0</odometryRate>
        <robotBaseFrame>base_footprint</robotBaseFrame>
      </plugin>
    </gazebo>
  </xacro:macro>
  
</robot>